html, body {
  height: 100%;
  width: 100%;
  background-color:#0D8882;
  margin: 0; 
  overflow: hidden;
  font-family: 'Silkscreen', cursive;
  font-size: 13px;
}

.form-content{
  padding: 8px 8px 8px 8px !important;
  height: 100% !important;
  margin-bottom: 10px;
}

.display {
  width: 100%;
  height: calc(100% - 64px);
}

.display_grid {
  margin: 5px 25px 25px 25px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
  grid-template-rows: repeat(auto-fill, minmax(100px, 1fr));
  grid-auto-flow: column;
  gap: 5px;
  width: 100%;
  height: 100%;
}

.display_grid img{
  width:65px;
}

/* Some Basic Setup */
.nav_bar{
  background-color: #CACACA;
  height: 20px;
  width: 100%;
  box-shadow: 0px 1.5px black;
  border-style: inset;
  /* Add this line to make the child elements flex items */
  display: flex;
}

.location {
  display: inline-flex;
  align-items: center;
  height:14px;
  width:130px;
  font-size: 12px;
  border: 3px inset;
}

.date {
  display: inline-flex;
  align-items: center;
  margin-left: 2px; 
  height:14px;
  width:140px;
  font-size: 12px;
  border: 3px inset;
}

.overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: black;
  color: white;
  padding: 20px;
  text-align: center;
  opacity: 0.5;
  z-index: 3;
}

.close-btn {
  position: absolute;
  right: 5px;
  top: 2px;
  cursor: pointer;
}

.close-btn:hover {
  background-color: #b0b0b0;
}

.icon_map {
  margin-right: 10px;
  width: 20px;
}
